@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
	font-family: 'Space Mono', monospace;
	font-weight: 700;
	font-size: 30px;

	background-color: #FAFAFA;
}

#container {
	width: auto;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.typing {
	color: #282828;
}

.blinking-cursor {
	position: relative;
	left: -0.5em;
	font-size: 1em;
	color: #282828;
	-webkit-animation: 1s blink step-end infinite;
	-moz-animation: 1s blink step-end infinite;
	-ms-animation: 1s blink step-end infinite;
	-o-animation: 1s blink step-end infinite;
	animation: 1s blink step-end infinite;
}

.fixed {
	color:#282828
}

@keyframes blink {
	from,
	to {
		color: transparent;
	}
	50% {
		color: #282828;
	}
}


@-moz-keyframes blink {
	from,
	to {
		color: transparent;
	}
	50% {
		color: #282828;
	}
}

@-webkit-keyframes blink {
	from,
	to {
		color: transparent;
	}
	50% {
		color: #282828;
	}
}

@-ms-keyframes blink {
	from,
	to {
		color: transparent;
	}
	50% {
		color: #282828;
	}
}

@-o-keyframes blink {
	from,
	to {
		color: transparent;
	}
	50% {
		color: #282828;
	}
}