@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600;700;800;900&display=swap');

body {
	font-family: 'Poppins', sans-serif;
	font-weight: 700;
	font-size: 80px;
	background-color: #FAFAFA;
}

#container {
	width: auto;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.typing {
	color: #282828;
}

.gradient-text{
	background: -webkit-linear-gradient(45deg, rgb(251, 54, 54), rgb(240, 155, 51));
  	-webkit-background-clip: text;
	background-clip: text;
  	-webkit-text-fill-color: transparent;
	/* text-shadow: 1px 1px 5px #2E3D48;  */

}

.blinking-cursor {
	font-size: 1em;
	color: #282828;
	-webkit-animation: 1s blink step-end infinite;
	-moz-animation: 1s blink step-end infinite;
	-ms-animation: 1s blink step-end infinite;
	-o-animation: 1s blink step-end infinite;
	animation: 1s blink step-end infinite;
}

.fixed {
	color:#282828
}
@keyframes blink {
	from,
	to {
		color: transparent;
	}
	50% {
		color: #282828;
	}
}

@-moz-keyframes blink {
	from,
	to {
		color: transparent;
	}
	50% {
		color: #282828;
	}
}

@-webkit-keyframes blink {
	from,
	to {
		color: transparent;
	}
	50% {
		color: #282828;
	}
}

@-ms-keyframes blink {
	from,
	to {
		color: transparent;
	}
	50% {
		color: #282828;
	}
}

@-o-keyframes blink {
	from,
	to {
		color: transparent;
	}
	50% {
		color: #282828;
	}
}